.login{
    font-family:'Ubuntu',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login__logo{
    width:100px;
    object-fit: contain;
    padding:2px;
    margin:5px;
    margin-top:1rem;
}

.login__form{
    display:flex;
    flex-direction: column;
}

.login__container{
    display:flex;
    flex-direction: column;
    width:290px;
    margin: 20px auto;
    border:1px solid #dddddd;
    border-width:3px;
    padding:20px;
    background-color: #ffffff;
    border-radius: 3px;
    height: max-content;
}

.login__form > input{
    padding:5.5px;
    margin-bottom:10px;
}

.login__form > h5{
    margin-bottom:3px;
}

.login__container > h1{
    margin-bottom:10px;
    padding-bottom:5px;
}

.login__form > button{
    background-color: #f0c14b;
    border:1px solid;
    border-color:#a88734 #9c7e31 #846a29;
    padding:5px;
    border-radius: 3px;
    margin-top:5px;
    cursor: pointer;
    font-size:14px;
}  

.login__container > button{
    height:25px;
    margin-top:5px;
    cursor:pointer;
    padding:2px;
}

.login__container > p{
    font-size:13.5px;
    margin-top:10px;
    padding:4px;
    line-height: 1.13;
}


