.payment{
    font-family:'Ubuntu',sans-serif;
    background-color:white;
}

.payment__section{
    display:flex;
    padding:20px;
    margin:0 20px;
    border-bottom:1.2px solid lightgray;
}

.payment__container > h1{
    text-align: center;
    padding:10px;
    font-weight:600;
    background-color:rgb(234,237,237);
    border-bottom:1px solid lightgray;
    font-size:26px;
}

.payment__container > h1 > a{
    text-decoration: none;
}

.payment__title{
    flex:0.2;
}

.payment__address{
    flex:0.8
}

.payment__items{
    flex:0.8;
}

.payment__details{
    flex:0.8;
    
}

.payment__button{
    padding:4px;
    width:100px;
    background-color: #f0c14b ;
    border-radius:3px;
    margin-top:7px;
    font-size:14px;

}

.payment__order{
    padding:10px 0;
    margin-top:10px;
}